/* Universal selector */
* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}

/* Element selector */
body {
    background-color: rgb(255, 253, 224);
}

/* ID selector */
#loginsection {
    /* background-color: blueviolet; */
    background-image: linear-gradient(to left, rgb(33, 31, 184), rgb(147, 68, 236));
    width: 300px;
    margin: 30px auto;
    padding: 15px;
    text-align: center;
    border-radius: 10px;

}

.avatar {
    border-radius: 100%;
    width: 25%;
}

/* Class selectror */
.heading {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
    color: white;
}

/* Grouping selector */
input, label {
    display: block;
    width: 100%;
    margin: auto;
    
    
}

label {
    font-size: 16px;
    line-height: 20px;
    margin: 10px auto;
    padding-top: 15px;
    color: white;
}

input[type=text]{
    width: 100%;
    padding: 15px 15px;
    margin: auto;
    display: block;
    border-radius: 4px;
    box-sizing: border-box;
    border-bottom: 1px solid green;
}

input[type=password] {
    width: 100%;
    padding: 15px 15px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 4px;
    
}

input[type=submit] {
    background-color: rgb(38, 6, 110);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    margin: 30px auto;
    width: 100px;
    border-radius: 5px;
    border: 1px solid aliceblue;
}

input[type=submit]:hover {
    background-color: rgb(43, 134, 1);
}

a {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

input[type=checkbox] {
    display: inline;
}

span {
    color: white;
    font-size: 12px;
}



